.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-image {
  width: 31em;
  height: 31em;
  clip-path: polygon(1% 99%, 99% 98%, 84% 13%, 51% 8%, 9% 10%, 29% 4%, 13% 38%, 7% 27%, 17% 54%, 4% 63%, 12% 21%);
  object-fit: cover;
}
.main-text {
font-size: 75px;
font-family: 'Pacifico', cursive;
margin-top: -20px;
color: black;
transform: translate(0px,-130px);

}
